.div_btn {
  position: fixed;
  z-index: 999;
  width: 42px;
  height: 42px;
  border: 2px solid #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 1em;
  line-height: 40px;
  cursor: pointer;
}

#div_music {
  top: 15px;
  right: 12px;
  border: none;
}

#div_record {
  top: 100px;
  background-color: rgba(0, 0, 0, .5);
}

@keyframes music_play_rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes btn_rotate {
  0% {
    transform: rotate(0);
  }
  40% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
  60% {
    transform: rotate(0);
  }
  70% {
    transform: rotate(30deg);
  }
  80% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}